* {
	box-sizing: border-box;
	font-family: Roboto;
} 
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),url('./font/roboto-v30-latin-500.woff2') format('woff2'); 
}  
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('./font/roboto-v30-latin-regular.woff2') format('woff2'));
 }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''), url('./font/roboto-v30-latin-300.woff2') format('woff2');
}
body {
	overflow: hidden;
}
html,body {
    line-height: 1.15;
	background-color: #f5f6f8;
    margin: 0;
    padding: 0;
}
#root {
	display: flex;
	height: 100vh;
	width:100%;
}

#header h2 {
	display: none;
	font-size: 15px;
    flex: 1;
    text-align: center;
	margin: 0;
}
#header h2 b{
	color:#006ce1;
}
#header i{
	display: none;
	padding: 12px;
}
#header img{
	display: none;
	width:20px;
	height:20px;
}
#header .modelOption{
    margin: 0.5rem;
    position: absolute;
    font-weight: 500;
	color: #23252c;
}
#header .modelheading{
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
	cursor: pointer;
	font-size: 18px;
    display: inline-flex;
    align-items: center;
	transition: all .2s;
    gap: 6px;
}
#header .modelheading:hover{
    background-color: rgb(234, 244, 253);
}

#header .modelOption .accordion {
    width: 16px;
    height: 16px;
    display: inline-block;
	transform: rotate(180deg);
}
#header .modelOption>ul {
    position: absolute;
    top: 40px;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 320px;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 10px;
    box-shadow: rgba(125, 132, 155, 0.1) 0px 1px 6px 0px;
    background-color: rgb(255, 255, 255);
	left: 0;
	line-height: 1.3;
    display: none;
    z-index: 1;
}
#header .modelOption.show  .accordion {
	transform: rotate(0deg);
}
#header .modelOption.show>ul {
    display: block;
}
#header .modelOption>ul strong {
    display: block;
	font-weight: 500;
    color: #23252c;
}
#header .modelOption>ul li {
    display: block;
	font-weight: 500;
    color: #7d849d;
	padding: 12px 36px 12px 24px;
    position: relative;
	cursor: pointer;
}
#header .modelOption>ul li:hover{
    background-color: rgb(234, 244, 253);
}

#header .modelOption>ul li:after{
	content: "";
    border-radius: 50%;
    box-shadow: none;
    transition: box-shadow 0.2s ease 0s;
    padding: 0px;
	width:20px;
	height:20px;
	border:1px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 12px;
    top: calc(50% - 10px);
	box-sizing: border-box;
}
#header .modelOption>ul li.selected:after{
	border:1px solid #1976d2;;
}
#header .modelOption>ul li.selected:before{
	content: "";
	background-color: #1976d2;
	width:10px;
	height:10px;
    border-radius: 50%;
    position: absolute;
	right: 17px;
    top: calc(50% - 5px);
}

#submenu {
	gap: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 40px;
    padding: 0px 28px;
    border-top: 1px solid rgb(223, 225, 239);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
    background-color: #006ce1;
	transition: unset;
}
#nav {
	background-color: #006ce1;
	padding: 0.875rem 0.75rem;
	width: 260px;
	color: #fff;
    overflow-y: auto;
	margin-bottom: 40px;
}
#nav button {
	width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    text-align: left;
    height: 40px;
    display: flex;
    align-items: center;
}
#nav button:hover {
	background-color: rgb(0, 95, 209);
}
#nav button:active{
	transform: scale(0.98);
}
#nav button span{
    flex: 1 1 0%;
}
#nav .asusicon {
	width:28px;
	height:28px;
    border-radius: 28px;
    background-color: #fff;
	display: inline-block;
	margin-right: 0.5rem;
    display: flex;
    align-items: center;
	justify-content: center;
}
#nav .asusicon img,#nav .addicon img{
	width:18px;
	height:18px;
	display: block;
}
#nav #logs .group{
	margin-top: 20px;
}
#nav #logs .list div {
    position: relative;
}
#nav #logs .list div .more {
    position: absolute;
    right: 0;
    z-index: 5;
    padding: 8px;
    height: 34px;
    width: 34px;
	top:2px;
	display:none;
	opacity: 0.5;
	cursor: pointer; 
}
#nav #logs .list>div{
	transition: all .2s;
	height: 36px;
}
#nav #logs .list .visibility{
    visibility: hidden;
}
#nav #logs .list a.action+.more {
	display:block;
}
#nav #logs .list a.action+.more:hover {
	opacity: 0.9;
}
#nav #logs .list a{
    margin: 0;
    color: #fff;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.45;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

#nav #logs .list a:after{
	content: "";
    background-image: linear-gradient(to left, #006ce1 20%, rgba(0, 0, 0, 0));
    display: block;
    width: 3.5rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
#nav #logs .list a:hover:after{
    background-image: linear-gradient(to left, rgb(0, 95, 209) 20%, rgba(0, 0, 0, 0));
}
#nav #logs .list a.action:after{
    background-image: linear-gradient(to left, rgb(0, 95, 209) 60%, rgba(0, 0, 0, 0));
}
#nav #logs .list a:hover,#nav #logs .list a.action{
	background-color: rgb(0, 95, 209);
}
#nav #logs .list a:active{
	transform: scale(0.98);
}
#nav #logs h3{
	color:#a5d6fe;
	font-size: 12px;
	padding: 12px 10px 8px 10px;
    margin: 0;
	height:36px;
}
#nav .loading {
    text-align: center;
    margin: 10px 0;
}
#nav .loading.hide {
	display:none;
}
#nav .loading img {
	width: 14px;
}
	
#main {
	flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

	
#main #message-box{
    flex: 1 1 0%;
    overflow-y: auto;
}
#main #message-box:not(.hasMessage) {
    background-image: url(images/aoccgptlogo.png);
    background-repeat: no-repeat;
    background-position: center;
}

#main #message-box.loading:after {
    content: "";
    background-image: url(images/loadingb.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 20px;
    height: 30px;
    min-height: 30px;
}
#main #form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main #form-box form{
	width: 100%;
    margin: 12px;
    position: relative;
	max-width:766px;
}
#main #form-box form #prompt-textarea{
	max-height: 200px;
	max-width:768px;
	width:100%;
    padding: 14px 124px 14px 32px;
    font-size: 14px;
	border: 1px solid #d1d4e4;
    border-radius: 12px;
	background-color: #fff;
    margin-bottom: 5px;
    text-align: left;
    overflow-y: auto;
    line-height: 1.3;
    min-height: 48px;
}
#main #form-box form #prompt-textarea[placeholder]:empty:before {
    content: attr(placeholder);
    color: #7d849b; 
}

#main #form-box form #prompt-textarea[placeholder]:empty:focus:before {
    content: "";
}
#main #form-box form #prompt-textarea span{
    color:#007aff;
}
#main #form-box form #prompt-textarea:focus,#main #form-box form #prompt-textarea:focus-visible{
	border: 1px solid rgb(165,214,254);
	outline-width: 0;
}
#main #message-box::-webkit-scrollbar { width: 6px;}
#main #message-box::-webkit-scrollbar-track { background-color: #dcdcdc; }
#main #message-box::-webkit-scrollbar-thumb { background-color: #7d849b; }
#main #message-box::-webkit-scrollbar-track { border-radius: 0; box-shadow: none; border: 0; }
#main #message-box::-webkit-scrollbar-thumb { border-radius: 3px; box-shadow: none; border: 0; }
#main #form-box form #prompt-textarea::-webkit-scrollbar { width: 6px;}
#main #form-box form #prompt-textarea::-webkit-scrollbar-track { background-color: #dcdcdc; }
#main #form-box form #prompt-textarea::-webkit-scrollbar-thumb { background-color: #7d849b; }
#main #form-box form #prompt-textarea::-webkit-scrollbar-track { border-radius: 0; box-shadow: none; border: 0; }
#main #form-box form #prompt-textarea::-webkit-scrollbar-thumb { border-radius: 3px; box-shadow: none; border: 0; }
#nav::-webkit-scrollbar { width: 6px;}
#nav::-webkit-scrollbar-track { background-color: #006ce1; }
#nav::-webkit-scrollbar-thumb {  background-color: #006ce1; }
#nav:hover::-webkit-scrollbar-thumb { background-color: #7d849b; }
#nav::-webkit-scrollbar-track { border-radius: 0; box-shadow: none; border: 0; }
#nav::-webkit-scrollbar-thumb { border-radius: 3px; box-shadow: none; border: 0; }

#prompt-textarea.hasAttrs {
    padding-top: 58px !important;
    margin-top: -39px;
}
#prompt-textarea.hasImage {
    padding-top: 108px !important;
    margin-top: -94px;
}
#prompt-textarea.hasImage.hasAttrs {
    padding-top: 148px !important;
    margin-top: -132px;
}

#uploadImages {
    display: flex;
    margin: 0 32px;
    position: relative;
    z-index: 0;
    gap: 24px;
    background-color: #fff;
}

#uploadImages div {
    padding-top: 13px;
    position: relative;
}
#uploadImages img {
    height: 80px;
    max-width: 80px;
    object-fit: cover;
    display: block;
	transition: all .2s;
}
#uploadImages div:hover  img{
    opacity: 0.4;
}
#uploadImages div:hover i{
    opacity: 1;
}
#uploadImages i {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    top: 0;
    background-image: url(./images/close.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
	cursor: pointer; 
    opacity: 0;
	transition: all .2s;
}
#attrs {
    background: #ffffff;
	margin: 0 30px 0 30px;
	position: relative;
}
#attrs .node{
    display: inline-flex;
    font-size: 14px;
    background: rgb(35, 37, 44);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: auto;
    align-items: center;
    padding: 0px 6px;
    line-height: 30px;
	margin:8px 0 0
}
#attrs .remove {
	width:20px;
	height:20px;
    background-image: url(./images/close-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 6px;
}
#main #form-box #submit:disabled {
    filter: grayscale(100%);
    filter: gray;
}
#main #form-box .submit {
    width: 40px;
    height: 40px;
    background-image: url(./images/send.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    border: 0;
    background-color: transparent;
    background-position: center;
    position: absolute;
    right: 8px;
    bottom: 8px;
	cursor: pointer;
}
#main #form-box #stopAI {
    background-image: url(./images/syncdisconnect.svg);
    display: none;
}

#message-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}
#message-box .message {
    max-width: 764px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 1px 6px 0 rgba(125, 132, 155, 0.1);
    width: 100%;
}
#message-box .message[data-ismain='0'] {
    display: none;
}

#message-box .message img{
	max-width: 100%;
}

#message-box .message .tool {
    text-align: right;
    margin: 12px 0 -20px auto;
    display: flex;
    align-items: center;
    gap: 4px;
}
#message-box .message .tool.hide {
    display: none;
}
#message-box .message .subtool{
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0.8;
}
#message-box .message .subtool.editMessage ,#message-box .message .subtool.regenerate{
    display: none;
}
#message-box .message:last-child.assistant .subtool.regenerate,#message-box .message.assistant.showregenerate  .subtool.regenerate{
    display: inline-block;
}

#message-box .message .tool .page {
    display: none;
}
#message-box .message .tool .page.show {
    display: inline-block;
}
#message-box .message .tool .page .pageitem{
    display: inline-block;
    width: 20px;
    height: 20px;
	background-color: #7d849b;
	vertical-align: middle;
	cursor: pointer;
}
#message-box .message .tool .page .pageitem:hover{
	background-color: #006ce1;
}
#message-box .message .tool .page .pageitem.disabled{
	background-color: #d1d4e4; 
	cursor: auto;
	pointer-events: none;
}
#message-box .message .tool .page .back{
    -webkit-mask-image: url(images/icon_back.svg);
    mask-image: url(images/icon_back.svg);
}
#message-box .message .tool .page .next{
    -webkit-mask-image: url(images/icon_next.svg);
    mask-image: url(images/icon_next.svg);
}


#message-box .message .subtool img{
    width: 28px;
    padding: 4px;
	cursor: pointer;
    filter: grayscale(100%);
}
#message-box .message:not(.isai) h3.name:before{
    content: attr(data-name);
    width: 28px;
    height: 28px;
    margin: 0 12px 0 -40px;
    background-color: #37a2fc;
    border-radius: 50%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message-box .message h3.name {
    font-size: 16px;
    line-height: 20px;
	color: rgb(35, 37, 44);
    margin: 0 0 12px;
    height: 28px;
    padding: 0 0 0 40px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
#message-box .message.isai h3.name{
    background-image: url(./images/aoccgptlogo.png);
    background-repeat: no-repeat;
    background-size: 28px;
}
#message-box .message div {
    font-size: 14px;
	line-height: 150%;
    color : #7d849d;
    margin: 0;
}
#sessionTool {	
	position: absolute;
	display:none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 50px 0 rgba(10,62,151,.35);
    padding: 12px 0;
    z-index: 9;
}
#sessionTool.show {	
	display:block;
}
#sessionTool .rename{	
    background-image: url(./images/edit.svg);
}
#sessionTool .delete{	
    background-image: url(./images/delete.svg);
}
#sessionToolClose {	
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
	display:none;
	z-index: 1;
}
#sessionTool.show+#sessionToolClose {
	display:block;
}
#sessionTool a{
    padding: 10px 24px;
    font-size: 14px;
    line-height: 18px;
	color: #000000de;
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 18px center;
    padding: 10px 24px 10px 48px;
	filter: grayscale(100%);
}
#sessionTool a:hover{
	background-color: #f5f6f8;
	color: #006ce1;
    filter: unset !important;
}
#dialog {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
	display:none;
	z-index: 1;
}
#dialog.show {	
	display:flex;
}
#dialog .overlay{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
	left:0;
	right:0;
	bottom:0;
	top:0;
    z-index: 1;
}
#dialog .body{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    min-width: 480px;
    z-index: 2;
	padding: 36px 24px;
    display: flex;
    flex-direction: column;
}
#dialog .body .title{
    display: flex;
	position: relative;
}
#dialog .body .title h2{
    flex: 1;
}
#dialog .body .title i{
    width: 28px;
    height: 28px;
    position: absolute;
    right: -16px;
    top: -28px;
    padding: 4px;
	opacity:0.8;
	cursor: pointer; 
}
#dialog .body .title i:hover{
	opacity:1;
}
#dialog .body .main {
	flex-grow: 1;
	font-size: 14px;
}
#dialog .body .buttons {
    text-align: right;
	margin:24px 0 0 0;
}
#dialog h2{
    font-size: 18px;
	margin:0 0 24px 0;
}
.input {
	padding: 11px 20px;
    height: 36px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d1d4e4;
    border-radius: 10px;
    width: 100%;
	outline: none !important;
}
.input.error {
    border: 1px solid #ff0000;
}
.input:focus,.input:focus-visible{
    border: 1px solid #a5d6fe;
}
.submit,.cancel {
    color: #ffffff;
    background-color: #006ce1;
	box-shadow: none !important;
	padding: 9px 20px;
    border-radius: 20px;
    outline: 0px;
    border: 0px;
    min-height: 38px;
    cursor: pointer;
}
.submit.min,.cancel.min {
	padding: 4px 13px;
    min-height: 28px;
}
.cancel:hover {
    border-color: #005fd1;
    color: #005fd1;
}
.submit:hover {
    background-color: #005fd1;
}
.submit:disabled {
    background-color: rgb(221, 239, 255);
}
.cancel {
    color: rgb(0, 108, 225);
	border: 2px solid #006ce1;
    background-color: transparent;
}

.tmp_tool {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 8px 0 0 0;
}
.setting {
    position: absolute;
    right: 82px;
    bottom: 8px;
    border: 0;
    background-color: transparent;
    padding: 0;
}
.setting.disabled  {
    filter: grayscale(100%);
}
.uploadimage  {
    position: absolute;
    right: 45px;
    bottom: 8px;
    border: 0;
    background-color: transparent;
    padding: 0;
}
.uploadimage.disabled  {
    filter: grayscale(100%);
}
.setting i,.uploadimage label{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.setting img,.uploadimage img{
    width: 24px;
    height: 24px;
}
#imageInput {
	display: none;
}
#setting-box {
    position: absolute;
    border: 1px solid #a5d6fe;
    width: 100%;
	box-shadow: 0 1px 6px 0 rgba(125, 132, 155, 0.1);
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    bottom: 0;
	transition: all .2s;
	z-index:-1;
	opacity:0;
	display: flex;
	gap: 12px;
	flex-direction: column;
}
#setting-selects {
	display: flex;
	gap: 12px;
    flex-wrap: wrap;
}
#setting-selects label{
	font-size:11px;
	color:#7d849b;
	margin-bottom:4px;
    display: block;
}
#setting-selects div{
    text-align: left;
}
#setting-box:not(.show) {
    bottom: 0 !important;
}
#setting-box.show {
	z-index:1;
	opacity:1;
}
#groupList {
    align-items: center;
    display: flex;
	gap: 12px;
	border-top:1px solid #d1d4e4;
	padding-top:12px;
}
#members {
	min-width:unset !important;
}
#setting-box #groupList .group a{
	padding: 4px;
}
#template {
    position: relative;
}
#prompt_Template {
    text-align: left;
    font-size: 12px;
	line-height: 1.5;
	min-height: 100px;
	max-width:768px;
	width:100%;
    padding: 14px 40px 14px 20px;
    font-size: 14px;
	border: 1px solid #d1d4e4;
    border-radius: 12px;
    max-height: 200px;
    overflow: auto;
	white-space: pre-line;
}
#prompt_Template span{
    color:#007aff;
}
#prompt_Template:focus,#prompt_Template:focus-visible{
	border: 1px solid rgb(165,214,254);
	outline-width: 0;
}
#template:hover #promptStar{
	opacity: 1;
}
#promptStar {
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 6px;
    top: 10px;
	opacity: 0.5;
	display:none;
	transition: all .2s;
}
#promptStar.has {
	display:unset;
    background-image: url(./images/icon_Star.svg);
	cursor: pointer;
}
#promptStar.has:hover {
    background-image: url(./images/icon_Star_h.svg);
}
#promptStar.like {
    background-image: url(./images/icon_Star_p.svg);
}

.threeone  {
	width:calc( (100% - 24px) / 3);
}
.threeone .jdropdown,.purpose .jdropdown,.favorite .jdropdown {
	width: 100%;
}
.purpose,.favorite {
	width: calc( (100% - 12px) / 2);
}
.purpose .jdropdown .jdropdown-container {
	right:0;
}
.jtooltip {display: none !important;}
.settingGroup {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.chatsetting {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.chatsetting label{
	font-size:12px;
	color:#7d849b;
	margin-bottom:4px;
    display: block;
    margin: 2px 0 0 0;
}
.grouphelp,.help,.vector,.teams{
    display: inline-block;
    width: 20px;
    height: 20px;
	background-color: #7d849b;
    margin: -2px 4px -2px 0;
    vertical-align: bottom;
}
.vector {
    -webkit-mask-image: url(images/vector.svg);
    mask-image: url(images/vector.svg);
	background-color: #fff;
}
.teams {
    -webkit-mask-image: url(images/teams.svg);
    mask-image: url(images/teams.svg);
	background-color: #fff;
    width: 24px;
    height: 24px;
}
.grouphelp {
    -webkit-mask-image: url(images/business-partner.svg);
    mask-image: url(images/business-partner.svg);
}
.help {
    -webkit-mask-image: url(images/help.svg);
    mask-image: url(images/help.svg);
}
.help:hover,.grouphelp:hover{
	background-color: #006ce1;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 125px;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;
    background-image: linear-gradient(#a3d3fb, #a5d6fe);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 0 0 0;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative; 
  width:8px;
  height:8px;
  background:#006ce1;
  border-radius:50%;
  transition:.2s;    margin: 0;
}
input[type="range"][disabled] {
    background-image: linear-gradient(#f5f6f8, #f5f6f8);
}
input[type="range"][disabled]::-webkit-slider-thumb{
  background:#d1d4e4;
}
#alertInfo {
	width: 454px;
	height: 100px;
	padding: 24px;
	border-radius: 10px;
	box-shadow: 0 6px 20px 0 rgba(10, 62, 151, 0.25);
    position: fixed;
    bottom: -100px;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
	transition: all .2s;
    gap: 14px;
	opacity: 0;
}
#alertInfo.show {
    bottom: 40px;
	opacity: 1;
}
#alertInfo:before{
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #FFD6D6;
    background-image: url(images/icon_error_mark.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#alertInfo.success:before{
	background-color: #beee9e;
    background-image: url(images/icon_success_mark.svg);
}

#alertInfo .body{
    flex: 1;
}
#alertInfo .body h5{
    color: #23252c;
	font-size: 14px;
	margin: 0 0 4px 0;
	font-weight: 500;
    line-height: 1;
}
#alertInfo .body p{
    color: #7d849b;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
}
#alertInfo .close{
    border:0;
    cursor: pointer;
    background-color: transparent;
	margin-right:8px;
    padding: 0;
}
#alertInfo .close img{
    width:20px;
	height:20px;
}
#form-box>.note {
        margin: -8px 0 6px 0;
    font-size: 12px;
    color: #a2a7bd;
}

@media screen and (max-width: 1440px) {
	#header .modelOption{
		position: relative;
	}
}
@media screen and (max-width: 960px) {
	#header {   
		align-items: center;
		gap: 12px;
		box-shadow: 0 0 0 1px #ccc;
		z-index: 1;
		display: flex;
	}
	#header h2 {
		display: unset;
	}
	#header i{
		display: unset;
	}
	#header img{
		display: unset;
	}
	#header .modelOption{
		position: absolute;
		left: 44px;
	}
	#header .modelheading{
		font-size: 14px;
	}
    #nav {
		position: fixed;
		z-index: 9;
		left: -300px;
		width: 300px;
		transition: left .2s;
		top: 0;
		bottom: 0;
    }
	#submenu {
		left: -300px;
		width: 300px;
		z-index: 9;
	}
    .opennav #nav,.opennav #submenu {
		left: 0;
		transition: left .2s;
    }
    .opennav:after{
		content: "";
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		opacity: 0.4;
		z-index:2;
	}
	#main #form-box form #prompt-textarea[placeholder]:empty:before {
		font-size:12px;
	}
	
	#header .modelOption.show:before{
		content: "";
		display: block;
		position: fixed;
		background-color: #000;
		opacity: 0.4;
		right: 0;
		top: 49px;
		bottom: 0;
		left: 0;
	}
}


/**/
#genio {
    position: absolute;
    left: -50px;
    border: 0;
    background-color: transparent;
    padding: 0;
    top: 5px;
}
#genio i{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#genio img{
    width: 32px;
    height: 32px;
    filter: grayscale(100%);
}
#genio.show img{
    filter: unset;
}