.tooltip {
	cursor: pointer;
}
#tooltip {
	position: absolute;
	font-style: normal;
    height: 15px;
	visibility:hidden;
    margin-top: -7px;
    top: 0;
}
#tooltip.show {
	visibility:visible;
	z-index:unset;
}
#tooltip:before,
#tooltip:after {
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  visibility:hidden;
  opacity: 0;
  -webkit-transition: 
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:    
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:         
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
  max-width: 280px;
  line-height: 1.5 !important;
      text-align: center;
}
/*hover*/
#tooltip.show:before,#tooltip.show:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


#tooltip:before{
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

#tooltip:after{
  z-index: 1000;
  padding: 8px;
  border-radius: 5px;
  background-color: #23252c;
  box-shadow: rgba(10, 62, 151, 0.25) 0px 6px 20px 0px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
  width: max-content;
}
#tooltip[data-placement="top"] {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}


#tooltip:before,
#tooltip:after{
  bottom: 100%;
  left: 50%;
}
#tooltip[data-placement="top"]:after{
  left: unset;
}

#tooltip:before,
#tooltip[data-placement="top"]:before {
  margin-bottom: -12px;
  border-top-color: #23252c;
}

#tooltip:before{
  margin-left: -6px;
}

#tooltip:after{
  margin-left: -80px;
}
#tooltip[data-placement="top"]:after{
  margin-left: unset;
}

#tooltip.show:before,
#tooltip.show:after,
#tooltip[data-placement="top"].show:before,
#tooltip[data-placement="top"].show:after{
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
#tooltip[data-placement="left"]:before,
#tooltip[data-placement="left"]:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}
#tooltip[data-placement="left"]:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #23252c;
}
#tooltip[data-placement="left"].show:before,
#tooltip[data-placement="left"].show:after{
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
#tooltip[data-placement="bottom"]:before,
#tooltip[data-placement="bottom"]:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}
#tooltip[data-placement="bottom"]:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #23252c;
}
#tooltip[data-placement="bottom"].show:before,
#tooltip[data-placement="bottom"].show:after{
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
#tooltip[data-placement="right"]:before,
#tooltip[data-placement="right"]:after {
  bottom: 50%;
  left: 100%;
}
#tooltip[data-placement="right"]:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #23252c;
}
#tooltip[data-placement="right"].show:before,
#tooltip[data-placement="right"].show:after{
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

#tooltip[data-placement="left"]:before,
#tooltip[data-placement="right"]:before {
  top: 3px;
}

#tooltip[data-placement="left"]:after,
#tooltip[data-placement="right"]:after {
  margin-left: 0;
  margin-bottom: -16px;
}